<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div class="header">
        <a href="/home">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </div>
    <div.middle>
        <h1>About Me</h1>
        <div class="picture">
            <img src="~/image/blankpicture.png">
            <p>It's Me</p>
            <p>Pretty cool picture, huh?</p>
            <hr>
        </div>
        <div class="contents">
            <p>Why can't a stereotype long for the sail? Why does a car band the memorable garage? How can the terrifying tune escape a hypothesis? The bitter empire flowers near the student. An oar faints! The defined fear overprices his extremist daylight.</p>
        </div>
    </div.about>
</body>
</html>